<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>

  <% @tweets.each do |tweet| %>
    <%= form.text_field :image, placeholder: "Image Url" %>
    <%= form.text_area :text, placeholder: "text" , rows: "10" %>
    <%= form.submit "SEND" %>
    <%# <%= render partial: "tweets/tweet", locals: { tweet: tweet } %>
  <% end %>
  <%= paginate(@tweets) %>
</div>